@using WebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>Upload AMT set 754 data</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    <input type="text" name="Email" class="form-control" placeholder="UserId" required="" />
                </div>
                <div>
                    <input type="password" name="Password" class="form-control" placeholder="Password" required="" />
                </div>
                <div>
                    <button type="submit" class="btn btn-default submit">Log in</button>
                    @*<a class="reset_pass" href="#">Lost your password?</a>*@
                </div>
                <div class="clearfix"></div>
                @*<div class="separator">
                        <p class="change_link">
                            New to site?
                            <a href="/account/Register" class="to_register"> Create Account </a>
                        </p>
                        <div class="clearfix"></div>

                    </div>*@
            }
        </section>
    </div>

</div>